@import "colors.less";
@import "fonts.less";
@import "condensed-font.less";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'source-sans-pro', sans-serif;
  font-size: @base-font-size;
  line-height: 1.5;

  background-color: #fff;
  color: @syntax-fg;
}

a:link {
  color: @hue-2;
}
a:visited {
  color: @hue-3;
}

mark {
  background-color: lighten(@hue-6-2, 45%);
}

code {
  font-size: 93%;
}

pre, code {
  font-family: 'Iosevka Terminal', monospace;
  font-weight: 500;
}

pre {
  font-size: 95%;
  background-color: @syntax-bg;
  padding: @base-font-size;
  box-shadow: 1px 1px 3px @mono-3;
  overflow-x: auto;
  margin: 1.5em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  .condensed-with-fallback(250%);
  line-height: 1.2;
}

h2 {
  .condensed-with-fallback(175%);
  line-height: 1.2;
}

h3 {
  .condensed-with-fallback(150%);
  line-height: 1.3;
}

a code {
  color: inherit;
}

blockquote {
  font-style: italic;
}

table {
  width: 100%;
}

table tr:nth-child(2n+1) {
  background-color: darken(@syntax-bg, 0%);
}

table td {
  padding: .5em;
}

kbd {
  background-color: @syntax-bg;
  box-shadow: 1px 1px 0 lighten(@mono-3, 20%);
  padding: .25em;
  margin: 0 .25em;
  font-size: 80%;
  border-radius: 3px;
}
