.condensed(@font-size) {
  html.wf-loading & {
    visibility: hidden;
  }
  html.wf-acuminproextracondensed-n7-active & {
    font-family: "acumin-pro-extra-condensed", "Arial", sans-serif;
    font-size: @font-size;
    font-weight: 700;
    letter-spacing: 0;
    visibility: visible;
  }
}
.fallback-condensed(@font-size) {
  font-family: Impact, Charcoal, sans-serif;
  font-size: (@font-size * 0.7);
  font-weight: 600;
  letter-spacing: -.07em;
}

.condensed-with-fallback(@font-size) {
  .condensed(@font-size);
  .fallback-condensed(@font-size);
}
