@import "colors.less";
@import "layout.less";
@import "flexbox.less";

.player iframe {
  display: block;
  width: 100%;
  box-shadow: 1px 1px 3px @mono-3;
}

.episode h1 {
  margin-bottom: .25em;
}
.description {
  margin-top: 0;
}
.footnotes hr {
  border: 0;
  color: @mono-1;
  background-color: @mono-1;
  height: 2px;
  float: center;
  margin: 2em 0;
}
