@import "colors.less";

.episode-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.episode-list li {
  flex: 0 1 48%;
  padding-bottom: 1em;

  @media screen and (max-width: 480px) {
    flex-basis: 100%;
  }
}
.episode-list li .title {
  display: block;
  color: @syntax-fg;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.2;
  margin-bottom: .25em;
}
.episode-list li img {
  width: 100%;
  box-shadow: 1px 1px 3px @mono-3;
}
.episode-list li time {
  display: block;
  color: hsl(220, 10%, 40%);
  font-size: 90%;
}
