@import "colors.less";
@import "fonts.less";
@import "condensed-font.less";

@body-padding: 20px;
@max-body-width: 600px;
@mobile-breakpoint: 560px;
@separator-color: #ddd;
@secondary-background-color: #fafafa;

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: @secondary-background-color;

  @media screen and (max-width: @mobile-breakpoint) {
    padding: 0;
    font-size: @base-font-size * 0.9;
  }
}

.wrapper {
  margin: 0px auto 0px auto;
  max-width: @max-body-width;
}

footer {
  background-color: @secondary-background-color;
  border-top: solid 1px @separator-color;
  color: @mono-2;
  font-size: @base-font-size * .9;
  padding: .75em;
  text-align: center;
}

footer a:link,
footer a:visited {
  color: @mono-2;
}

article .header {
  font-style: italic;
}

main {
  margin: 0;
  padding: 2rem @body-padding;
  background-color: #ffffff;
}

main pre {
  @media screen and (max-width: @mobile-breakpoint) {
    margin: 1.5em -@body-padding;
  }
}

main figure {
  text-align: center;

  img {
    max-width: 100%;
    box-shadow: 1px 1px 3px @mono-3;
  }
  figcaption {
    text-align: center;
    color: @mono-2;
  }
}

.all-episodes {
  text-align: center;
  font-size: 125%;
}
