@import "flexbox.less";
@import "colors.less";
@import "fonts.less";
@import "condensed-font.less";
@import "layout.less";

.site-header {
  margin-bottom: 0;
  background-color: @secondary-background-color;
  border-width: 0px 0 1px 0;
  border-style: solid;
  border-color: @separator-color;

  .wrapper {
    .flex-display(flex);
    .flex-grow(0);
    .flex-shrink(0);
    .flex-direction(row);
    .align-items(center);
    padding: 0 10px;
  }

  nav {
    .flex-display(flex);
    .flex-grow(1);
    .flex-shrink(1);
    .justify-content(flex-start);
    text-align: center;
  }

  nav a {
    .flex-display(flex);
    .flex-direction(column);
    .justify-content(center);

    height: 60px;
    padding: .75em;
    text-decoration: none;
    font-weight: 600;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: transparent;
  }
  nav a:link,
  nav a:visited {
    color: @mono-2;
  }
  nav a:hover {
    color: @mono-1;
  }

  nav a.active:link,
  nav a.active:visited {
    /*background-color: @mono-1;*/
    color: @hue-3;
    border-color: @hue-3;
  }

  .subscribe {
    & > div {
      display: block !important;

    }
  }
}

.site-name {
  margin: 0 20px 0 0;
  display: block;
  padding: 10px 0;
}
.site-name span {
  display: block;
  position: absolute;
  text-indent: -9999px;
  transition: .1s ease background-size;
}
.site-name img {
  display: block;
  height: 40px;
  width: auto;
  margin: 0 auto;
  transition: .1s ease transform;
}
.site-name:hover img,
.site-name:active img {
  transform: scale(1.05);
}

@media screen and (max-width: @mobile-breakpoint) {
  .site-header .wrapper {
    .flex-direction(column);
    .align-items(stretch);
    padding: 0;

    nav {
      .flex-direction(column);
    }
    nav a {
      padding: .5em;
      height: 50px;
      border-width: 0 4px 0 4px;
    }
    .subscribe {
      height: 50px;
      .flex-display();
      .align-items(center);
      .justify-content(center);
    }
  }

  .site-name {
    margin: 0;
    a img {
    }
  }
}
