@import "colors.less";

div.sourceCode {
  overflow: visible;
}
pre.sourceCode {
  overflow-x: auto;
}
.sourceCode {
  overflow: visible;
}
code.sourceCode {
  white-space: pre;
}
@media print {
  code.sourceCode {
    white-space: pre-wrap;
  }
}

code mark {
  color: @syntax-fg;
}
