<ul class="episode-list">
  $for(episodes)$
  <li>
    <a href="$url$"><img src="https://i1.ytimg.com/vi/$youtube-id$/maxresdefault.jpg" alt="Video screenshot"></a>
    <a class="title" href="$url$">$title$</a>
    <time>$date$</time>
  </li>
  $endfor$
</ul>
