<article class="wrapper">
    <section class="player">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/$youtube-id$?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </section>
    <section class="show-notes">
      <div class="wrapper">
        <h1>$title$</h1>
        $excerpt$
        $body$
      </div>
    </section>
</article>
