<script src="/assets/highlight/highlight.pack.js"></script>
<script>
var link = document.createElement('link');
link.setAttribute('rel', 'stylesheet');
link.setAttribute('href', '/assets/highlight/styles/atom-one-light.css');
document.head.appendChild(link);

hljs.configure({
  languages: ['haskell', 'bash']
});
document.querySelectorAll('pre[class]').forEach(function(pre) {
  var code = pre.children[0];
  code.classList = pre.classList;
  hljs.highlightBlock(code);
});
</script>
